@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(236, 234, 234);
    margin-left: 2em;
    margin-right: 2em;
}
nav{
    margin-left: -2em;
    margin-right: -2em;
}
li{
    display: inline;
    font-size: 25px;
} 
norm{
    background-image:url("cropped-Moonbeam-Favicon-550px.png");
    background-size: 350px;
}
